# This is a basic workflow to help you get started with Actions

name: Java CI
on:
    push:
     branches:
      -test
     
    pull_request:
     branches:
      -test

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
          
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots verify
          
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v2
        with:
         name: Package
         path: staging
       
       # Sonar Testing Scan
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v1.6

      # Runs a single command using the runners shell
      
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
